@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Default background color */
  background-color: #f5e1c8; /* Soft beige tone */

  /* Optional: Gradient */
  background-image: linear-gradient(to right, #efdcc5, #e6d1b7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
